.button-background-animations {
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
}

.button-background-header {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.button-background-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.left-to-right {
    background: linear-gradient(to left, #f6f7f4 50%, #0A9C80 50%);
    border: 1px solid #ebece9;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(199, 199, 199);
    font-weight: 500;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    transition: .7s ease-out;
    background-size: 200% 100%;
    background-position: 100% 0;
}

.left-to-right:hover{
    background-position: 0 0;
    color: #f7f8f4;
}


.right-to-left {
    background: linear-gradient(to right, #f6f7f4 50%, #0A9C80 50%);
    border: 1px solid #ebece9;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(199, 199, 199);
    font-weight: 500;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    transition: .7s ease-out;
    background-size: 200% 100%;
    background-position: 0 0;
}

.right-to-left:hover{
    background-position: 100% 0;
    color: #f7f8f4;
}

.top-to-bottom {
    background: #f6f7f4;
    border: 1px solid #ebece9;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(199, 199, 199);
    font-weight: 500;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: .5s ease-out;
}

.top-to-bottom::after{
    content: "";
    background: #0A9C80;
    position: absolute;
    border-radius: 5px;
    top: 0;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: height .5s ease-out;
    z-index: -1;
}

.top-to-bottom:hover{
    color: white;
}

.top-to-bottom:hover::after{
    height: 100%;
}

.bottom-to-top{
    background: #0A9C80;
    border: 1px solid #ebece9;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(199, 199, 199);
    font-weight: 500;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: .5s ease-out;
}

.bottom-to-top::after{
    content: "";
    background: #f6f7f4;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .5s ease-out;
    z-index: -1;
}

.bottom-to-top:hover {
    color: white;
    border-radius: 5px;
}

.bottom-to-top:hover::after{
    height: 0%;
    border-radius: 5px;
}