.image-overlay-animations {
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.image-overlay-header {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
}