.text-animations {
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.text-header {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.static-words {
    display: inline;
    padding-right: 5px;
}

.rotating-words {
    display: inline;
}

.rotating-words span {
    opacity: 1;
    position: absolute;
}

.rotating-animation {
    transform: translate(-30%);
    opacity: 1;
    transition: all .5s;
}